.project_thumb {
  display: block;
  background: #F8F8F8;
  width: 290px;
  height: 140px;
  float: left;
  margin: 5px;

  > div {
    padding: 10px;

    .project_name_container {
      font-size: 20px;
      float: left;
      .name_display {
        .change_name_button {
          display: block;
          padding-right: 20px;
          text-decoration: none;
          font-weight: bold;
          color: #727272;
          .icon {
            display: block;
            float: right;
            width: 15px;
            height: 15px;
            overflow: hidden;
            background: url(/ProjectManagement/Resources/pencil.png) 0 0;

          }
          &:hover {
            .icon {
              background: no-repeat url(/ProjectManagement/Resources/pencil.png) 0 -15px;
            }
          }

        }
      }
      .name_edition {
        display: none;
      }
      &.edition {
        .name_display {
          display: none;
        }
        .name_edition {
          display: block;
        }
      }
    }

    .deadlines_count {
      height:30px;
      line-height: 30px;
      text-align: center;
      color: darkgray;
      font-size: 17px;
      margin-top: 20px;
      .number {
        font-size: 20px;
      }
    }

    .tasks_count {
      height:30px;
      line-height: 30px;
      text-align: center;
      color: darkgray;
      font-size: 17px;
      .number {
        font-size: 20px;
      }


    }
    .link {
      text-align: center;
      a {
        color: #b9b9b9;
        font-weight: bold;
        text-decoration: none;
      }
    }

  }

  &.plus {
    font-size: 50px;
    text-align: center;
    line-height: 150px;
    text-decoration: none;
    font-weight: bold;
    color: darkgray;
    &:hover {
      background: white;

      line-height: 148px;
      color: gray;
    }
  }

}