.project_thumb {
  display: block;
  background: #F8F8F8;
  width: 230px;
  height: 120px;
  float: left;
  margin: 5px;
  cursor: pointer;
  transition: background 0.5s;
  &:hover {
    background: #ededed;
  }

  > div {
    padding: 10px;

    .project_name_container {
      font-size: 20px;
      float: left;
      .name_display {
        .change_name_button {
          display: block;
          padding-right: 20px;
          text-decoration: none;
          font-weight: bold;
          color: #727272;
          .icon {
            display: none;

            overflow: hidden;
            color: #727272;
          }
          &:hover {
            .icon {
              display: inline;
            }
          }

        }
      }
      .name_edition {
        display: none;
        input {
          width: 100%;
        }
      }
      &.edition {
        .name_display {
          display: none;
        }
        .name_edition {
          display: block;
        }
      }
    }

    .deadlines_count {
      height:20px;
      line-height: 30px;
      color: darkgray;
      font-size: 17px;
      .number {
        font-size: 20px;
      }
    }

    .tasks_count {
      height:20px;

      color: darkgray;
      font-size: 17px;
      .number {
        font-size: 20px;
      }


    }
    .link {
      text-align: center;
      a {
        color: #b9b9b9;
        font-weight: bold;
        text-decoration: none;
      }
    }

  }

  &.plus {
    font-size: 50px;
    text-align: center;
    line-height: 120px;
    text-decoration: none;
    font-weight: bold;
    color: darkgray;
    &:hover {
      background: white;

      line-height: 148px;
      color: gray;
    }
  }

}