.deadline_thumb {
  height: 30px;
  border-bottom: 1px #d3d3d3 solid;
  line-height:30px;


  .deadline_name {
    font-weight: bold;
  }

  .time {
    font-style: italic;
    color: gray;
  }


  .delete_button {
    width: 15px;
    height: 15px;
    overflow: hidden;
    margin-top: 8px;
    float: right;
    background: url(/ProjectManagement/Resources/cross.png);
    &:hover {
      background: url(/ProjectManagement/Resources/cross.png) 0 -15px;
    }
  }
}