.project_show {
  position: relative;
  height: ~"calc(100% - 40px)";
//  max-width: 1000px;
  width: 100%;
  margin: auto;
//  background: white;
//  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  padding: 20px;

  em {
    font-style: italic;
    color: #646464;
  }


  .project_name {
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    float: left;

  }

  .description_container  {
    margin-left: 10px;
    float: left;
    font-style: italic;
    color: gray;
    line-height: 30px;
    height: 30px;
  }
  .contents {
    clear: both;
    height: ~"calc(100% - 30px)";

    .add_deadline_button {
      width: 15px;
      height: 15px;
      overflow: hidden;
      display: block;
      float: right;
      margin-top: 8px;
      background: url(/ProjectManagement/Resources/plus.png) 0 0;
      &:hover {
        background: url(/ProjectManagement/Resources/plus.png) 0 -15px;
      }
    }

    > div {
      > div {
        height: ~"calc(100%)";
      }
    }
  }

  .project_dashboard {
    height: ~"calc(100% - 90px)";

    background: none;
  }

  .participants_list_container {
    margin-top: 15px;
    height: 45px;
    .participants_list {
      .user_thumb {
        i {
          display: none;
        }
        width: 100px;
        padding: 5px;
        text-align: center;
        margin: 1px;
        background: rgba(255,255,255,0.5);
        cursor: pointer;
        float: left;
        .name {
          display: none;
        }
        &:hover {
          background: rgba(255,255,255,1);
        }
      }
    }

  }

  .info {
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
  }

  .add_section {
    padding-bottom: 5px;
    padding-left: 5px;
  }

  .project_dashboard_container {
    height: 50%;

  }
  .tasks_container {
    height: 50%;
    background: rgba(255,255,255, 0.5);
    width: 33.3333%;
    float: left;
  }
  .deadlines_container {
    height: 50%;
    background: rgba(255,255,255, 0.5);
    margin-right: 5px;
    width: ~"calc(66.6666% - 5px)";
    float: left;
  }

  @import "./deadline_thumb";
  @import "./timeline";

  .actions {
    a {
      margin-right: 10px;
    }
    float: left;
  }
}

@import "./users_popup";