<div>
    <div class="project_name_container">
        <div class="name_display">
            <a href="javascript:void(0);" class="change_name_button"><span  class="project_name"><%= project.get('name') %> </span><span class="icon"><i class="fa fa-edit"></i></span></a>
        </div>
        <div class="name_edition">
            <input type="text" class="name_input" /><a href="javascript:void(0);"></a>
        </div>

    </div>
    <div class="clearer"></div>
    <div class="deadlines_count">
        <span class="number"><%= project.getDeadlines().length %></span> deadlines.
    </div>
    <div class="tasks_count">
         <span class="number"><%= project.getTasks().length %></span> tasks.
    </div>
    <div class="link">
        <a href="#ProjectManagement/projects/<%= project.get('id') %>">View</a>
    </div>
</div>