<div class="pure-g">
    <!--<div class="information pure-u-1-2">-->

    <!--</div>-->

    <!--<div class="workload_graph pure-u-1-2">-->

    <!--</div>-->
    <div class="project_list pure-u-1">

    </div>

</div>
<div class="pagination_container">
    <div class="pagination">
        <a href="javascript:void(0);">
            <div></div>
        </a>
        <a href="javascript:void(0);" class="selected">
            <div></div>
        </a>
        <a href="javascript:void(0);">
            <div></div>
        </a>
        <a href="javascript:void(0);">
            <div></div>
        </a>
    </div>
</div>