<div class="project_name_container">

    <div class="project_name"><%= project.get('name') %></div>
    <div>
        <span class="description_container pure-u-1-2">
            <%= project.get('description') %>
        </span>
    </div>
    <a href="#ProjectManagement" class="back_to_index_button pure-button">Back to index</a>
    <% if (project.get('owner').id == SmartBlocks.current_user.get('id')) { %>
    <div class="actions">
        <a href="javascript:void(0);" class="manage_participants_button"><i class="fa fa-user"></i> Manage participants</a>
    </div>
    <% } %>
</div>

<div class="contents">

    <div class="project_dashboard_container">
        <div>
            <div>
                <strong><i class="fa fa-clock-o"></i> Planned time</strong> <em>Here you can see how much has been
                planned for this project on a day to day basis.</em>
            </div>


            <div class="project_dashboard">

            </div>
            <div class="participants_list_container">
                <strong><i class="fa fa-user"></i> Participants</strong> <em>Pass your mouse over users to see their
                work amount on the above graph.</em>

                <div class="participants_list">

                </div>
            </div>
        </div>
    </div>
    <div>
        <strong><i class="fa fa-calendar-o"></i> Deadlines</strong> <em>Pass your mouse over deadlines to see their work amount
        on the above graph. Click on them to see their tasks.</em>
    </div>
    <div class="deadlines_container">
        <div>
            <div class="deadlines">

            </div>
            <div class="deadline_thumb plus">
                <input type="text" class="new_deadline_name" placeholder="New deadline name"/>
                <input type="text" class="new_deadline_time" placeholder="Enter a date"/>
                <span class="result_date"></span>
                <a href="javascript:void(0);" class="add_deadline_button"></a>
            </div>
        </div>
    </div>
    <div class="tasks_container">
        <div class="tasks_list_container">

        </div>
    </div>
    <div class="clearer"></div>
</div>