<div>
    <a href="javscript:void(0);" class="close_button"><span class="close">×</span></a>
    <h3>Project participants</h3>
    <div>
        These are the users who are currently part of the project :
        <div class="current_users_list">

        </div>
    </div>
    <div>
        <form role="form" class="form" action="javascript:void(0);">
            <div class="form-group">
                <label>
                    Search for users to add to the project.
                    <input type="text" class="user_input form-control" placeholder="Enter a name, username or email"/>
                </label>


            </div>
        </form>
        <div class="search_results">

        </div>
    </div>
    <button class="btn save_button"><i class="fa fa-save"></i> Save changes</button>
    <div class="clearer"></div>
</div>